.menu {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    padding: 18px 24px 32px 24px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-right: 78px;
    }
    &__links {
        flex-grow: 1;
        max-height: 416px;
        margin-top: 50px;
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-direction: column;
        justify-content: space-around;
    }
    &__link {
        position: relative;
        display: block;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
        letter-spacing: -0.2px;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #41F6D7;
            bottom: 0;
            left: 0;
            transition: width 0.5s ease; 
        }
        &:hover {
            &::after {
                width: 70px;
            }
        }
        &--active {
            position: relative;
            color: #7E7E82;
            &::before {
                content: '';
                position: absolute;
                width: 8px;
                height: 40px;
                left: -28px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 20%;
                background: #41F6D7;
            }
            &::after {
                content: none;
            }
        }
    }
    &__footer {
        height: 188px;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__btns {
        display: flex;
        div {
            margin-right: 16px;
        }
    }
    &__mail {
        display: block;
        margin-top: 16px;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__tel {
        display: block;
        margin-top: 12px;
        text-decoration: none;
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        color: #1B1C21;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__langs {
        margin-top: auto;
    }
    &__lang-btn {
        border: none;
        outline: none;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.2);
            background-color: #FF3E79;
            color: #fff;
            border-radius: 100%;
        }
        &--active {
            color: #7E7E82;
            &:hover {
                color: #7E7E82;
                transform: none;
                background-color: #fff;
            }
        }
    }
}