@media (min-width: 768px) {
    .container {
        padding: 0 25px;
    }
    .header {
        padding: 24px 0;
        &__right {
            &-add {
                display: flex;
                position: relative;
                align-items: center;
                margin-right: 42px;
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 32px;
                    width: 2px;
                    background: #EAEAEA;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;
                }
            }
        }
        &__chat {
            margin: 0 16px;
        }
    }
    .main {
        &__list {
            margin-bottom: 0;
            margin-left: 0;
        }
        &__content {
            display: flex;
            padding: 32px 0 40px 0;
        }
        &__descr {
            margin: 0;
            height: 160px;
        }
        &__header {
            padding: 0;
            &::before {
                left: -29px;
            }
        }
        &__more {
            padding: 16px 0;
        }
        &__img {
            margin-left: 48px;
            width: 50%;
            border-radius: 10px;
        }
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main {
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__link {
            display: flex;
            align-items: center;
            div {
                margin-right: 8px;
            }
            a {
                margin-right: 32px;
            }
        }
        &__descr {
            span {
                display: inline;
            }

        }
        &__img {
            margin-left: 36px;
        }
        
    }
}