.brands {
    height: 234px;
    background: #F2F2F2;
    &__header {
        h2 {
            display: block;
            background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
            height: 80px;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #7E7E82;
            margin: 0;
            padding: 16px
        }
    }
    
    &__item {
        display: flex;
        height: 72px;
        width: 240px;
        padding: 20px 16px;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        margin-right: 16px;
    }
    &__arrow {
        display: inline-block;
        position: relative;
        justify-content: center;
        align-items: center;
        border: solid #FF3E79;
        border-width: 0 2px 2px 0;
        padding: 3px;
        margin-right: 20px;
        transform: rotate(-45deg);
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 40px;
            border: 2px solid #FF3E79;
            border-radius: 100%;
            top: calc(50% + 2px);
            left: calc(50% + 2px);
            transform: translate(-50%,-50%);
            
        }
        
    }
    &__content {
        margin: 16px 0;
        padding-left: 16px;
    }
    &__more-btn, &__hidden-btn {
        display: none;
    }
}
.swiper-pagination {
    position: relative;
}
.swiper-slide {
    flex-shrink: 1;
}