@media (min-width: 768px) {
    .header {
        padding: 24px 25px;
        &__right {
            &-add {
                display: flex;
                position: relative;
                align-items: center;
                margin-right: 42px;
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 32px;
                    width: 2px;
                    background: #EAEAEA;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;
                }
            }
        }
        &__chat {
            margin: 0 16px;
        }
    }
    .main {
        padding: 25px;
        &__list {
            margin-bottom: 0;
            margin-left: 0;
        }
        &__content {
            display: flex;
            padding: 32px 0 40px 0;
        }
        &__descr {
            margin: 0;
            height: 160px;
            &--full {
                height: 100%;
            }
        }
        &__header {
            padding: 0;
            &::before {
                left: -29px;
            }
        }
        &__more-btn, &__hidden-btn {
            padding: 16px 0;
            margin: 0;
        }
        &__img {
            margin-left: 48px;
            width: 50%;
            border-radius: 10px;
        }
    }
    .brands {
        height: 100%;
        h2 {
            height: 56px;
        }
        &__content {
            display: grid;
            box-sizing: border-box;
            padding: 0;
            margin: 24px;
            height: 160px;
            width: calc(100% - 48px);
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 72px;
            gap: 16px 24px;
            overflow: hidden;
            &--full {
                height: 100%;
            }
        }
        &__item {
            width: 100%;
        }
        &__more-btn, &__hidden-btn {
            display: block;
            border: none;
            padding: 0;
            margin: 0 auto 34px 24px;
            height: 24px;
            cursor: pointer;
            img {
                margin-right: 8px;
            }

        }
    }
    .swiper-slide {
        display: block;
        flex-shrink: 0;
        height: 72px;
        width: 100%;
    }
    .btn-hidden {
        display: none;
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main {
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__link {
            display: flex;
            align-items: center;
            div {
                margin-right: 8px;
            }
            a {
                margin-right: 32px;
            }
            label {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
        &__repair {
            margin-left: 7px;
        }
        &__descr {
            span {
                display: inline;
            }

        }
        &__img {
            margin-left: 36px;
        }
        &__more-btn, &__hidden-btn {
            display: none;
        }
        
    }
    .brands {
        &__content {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .btn-hidden {
        display: none;
    }
}

@media (min-width: 1440px) {
    body {
        margin-left: 320px;
    }
    .menu {
        position: absolute;
        left: 0;
        box-shadow: none;
        height: auto;
        &__header {
            &--close {
                display: none;
            }
        }
    }
}